In [1]:
import pandas as pd
import numpy as np

### Reading data:

In [2]:
biyashee_colony_cnts = pd.read_csv('data/Bishayee Colony Counts 10.27.97-3.8.01.csv', skiprows=2)
biyashee_coulter_cnts = pd.read_csv('data/Bishayee Coulter Counts.10.20.97-7.16.01.csv', skiprows=1)
other_colony_cnts = pd.read_csv('data/Other Investigators in Lab.Colony Counts.4.23.92-11.27.02.csv', skiprows=1)
other_coulter_cnts = pd.read_csv('data/Other Investigators in Lab.Coulter Counts.4.15.92-5.21.05.csv', skiprows=1)
outside_coulter_cnts1 = pd.read_csv('data/Outside Lab 1.Coulter Counts.6.7.91-4.9.99.csv')
outside_coulter_cnts2 = pd.read_csv('data/Outside Lab 2.Coulter Counts.6.6.08-7.7.08.csv', skiprows=1)
outside_colony_cnts =  pd.read_csv('data/Outside Lab 3.Colony Counts.2.4.10-5.21.12.csv', skiprows=1)

### Filling missing headers, dates, experiment numbers

In [3]:
# adding column names for outside_coulter_cnts1 table
outside_coulter_cnts1.columns = ['Experiment', 'Coul 1', 'Coul 2', 'Coul 3', 'Average','Date']
# filling in experiment and date info
for i in range(len(outside_coulter_cnts1)):
    if outside_coulter_cnts1['Experiment'].isnull()[i]:
        outside_coulter_cnts1.loc[i,'Experiment'] = outside_coulter_cnts1['Experiment'][i-1]
    if outside_coulter_cnts1['Date'].isnull()[i]:
        outside_coulter_cnts1.loc[i,'Date'] = outside_coulter_cnts1['Date'][i-1]

#filling in date info for outside_coulter_cnts2
for i in range(len(outside_coulter_cnts2)):
    if outside_coulter_cnts2['Date'].isnull()[i]:
        outside_coulter_cnts2.loc[i,'Date'] = outside_coulter_cnts2['Date'][i-1]
        
#filling in date info for outside_colony counts
for i in range(len(outside_colony_cnts)):
    if outside_colony_cnts['date'].isnull()[i]:
        outside_colony_cnts.loc[i,'date'] = outside_colony_cnts['date'][i-1]

In [4]:
outside_colony_cnts.head()

     date  c1  c2  c3  average
0  2/4/10  54  55  59    56.00
1  2/4/10  47  60  47    51.33
2  2/5/10  55  60  53    56.00
3  2/5/10  58  54  59    57.00
4  2/5/10  17  17  15    16.33